:root {
    --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
    --teal: #64ffda;
    --light-green: #98FB98;
    --default-text: #ccd6f6;
    --dimmed-text: #8892B0;
    --background:  #0a192f;
    --background-details: #233554;
}

* {
    z-index: 5;
}

body {
    background-color: var(--background);
    margin: 0;
    font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
    color: var(--default-text);
    height: 100vh;
}

.big-texto {
    margin: 0;
    font-size: clamp(40px, 4vw, 80px);
    line-height: 1.1;
}

.header {
    background-color:var(--background);
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    transition: transform .7s ease-in-out;
    transform: translateY(0%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header ol a{
    padding: 10px;
    color: var(--teal);
    font-family: var(--font-mono);
    text-decoration: none;
}

.header a .turnt {
    color: var(--default-text);
    transition: color 0.3s ease;
}

.header ol a:hover .turnt {
    color: var(--teal);
}

.header ol a button {
    background-color: transparent;
    color: var(--teal);
    border: 1px solid var(--teal);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.header-hidden {
    transform: translateY(-100%);
}

#logo {
    height: 60px
}

.btn-geral {
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-geral:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0 var(--teal);
}

.separador {
    padding: 0 150px;
    height: 100vh;
    background-color: var(--background);
}

.introducao {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
}



#subtitulo {
    color: var(--teal);
    font-size: 17px;
    font-family: var(--font-mono);
}

#name {
    font-size: clamp(40px, 8vw, 80px);
    
}

#funcao{
    font-size: clamp(40px, 8vw, 80px);
    color: var(--dimmed-text);
}

#descricao {
    color: var(--dimmed-text);
    font-size: 20px;
    text-align: start;
    max-width: 500px;
}

#cur-btn {
    background: none;
    border: 1px solid var(--teal);
    color: var(--teal);
    border-radius: 5px;
    padding: 20px 28px;
    font-size: 14px;
    cursor: pointer;
}

#cur-btn a {
    text-decoration: none;
}

#cur-btn a:visited {
    color: var(--teal);
    
}

#sobre {
    display: block;
    padding-top: 100px;
    max-width: 900px;
    margin: 0 auto;
}

#desc-n-img {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

#img-w-grid {
    display: flex;
    align-self: center;
}

.titulo-paragrafo {
    font-family: var(--font-mono);
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,32px);
    white-space: nowrap;
    line-height: 1.1;
}

.titulo-paragrafo::after {
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--background-details);
}

#bio {
    max-width: 510px;
    font-size: 20px;
    color: var(--dimmed-text);
}

#bio p a {
    color: var(--teal);
}

#bio p a:visited {
    color: var(--teal);
}

#tec {
    color: var(--dimmed-text);
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    list-style: none;
}

#tec li::before{
    content: "▹";
    color: var(--teal);
    font-size: 14px;
    line-height: 12px;
}

#experiencia {
    display: block;
    padding-top: 100px;
    max-width: 900px;
    margin: 0 auto;
}

.carousel {
    display: flex;
    width: 700px;
    height: 400px;
    margin: 0 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.pass-btn {
    user-select: none;
    margin: 0 4%;
    display: inherit;
    width: 7%;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    transition: color .5s ease, transform 0.3s ease;
}

.b:hover {
    color: var(--teal);
    transform: translateX(-10px);
}

.n:hover {
    color: var(--teal);
    transform: translateX(10px);
}

.carousel-content {
    display: block;
    max-width: 440px;
    justify-content: center;
    flex-direction: column;
    text-align: initial;
    z-index: 1;
}

.text {
    display: none;
    animation: fadeInRight .5s ease-out
}

.text p {
    margin-bottom: 10px;

}

.main {
    color: #8892B0;
    display: block;
    
}

/*TODO:Pass this bullshit to javaSript*/
@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
  }

#nm {
    color: var(--teal);
    text-decoration: none;
}

#nm:hover {
    text-decoration: underline;
}


